.main {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
  min-height: 80vh;
  background-color: #f3f3f3;
  margin-bottom: 25px;
}
.left {
  margin-left: 2vw;
  border-radius: 20px;
  margin-top: 4vw;
  margin-right: 0;
  width: 55%;
}
.heading {
  font-size: 48px;
  color: #328168;
  font-weight: 600;
  width: max-content;
  padding: 10px;
  border-bottom: #328168 1px solid;
  margin-bottom: 50px;
}
.text {
  font-size: 18px;
  line-height: 27px;
}
.right {
  display: flex;
  justify-content: center;
  position: relative;
  width: 35%;
}
@media only screen and (max-width: 1159px) {
  .left {
    width: 100%;
    margin: 20px;
    padding: 30px;
  }
  .right {
    width: 100%;
  }
}
