.itemImage {
  width: 50px;
  height: 50px;
}
.itemContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: min-content;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
}
.itemContainer[class$="0"] {
  left: 15%;
  top: 15%;
  animation: flyin0 1.7s ease-out, move0 10s infinite 1.7s linear;
}
.itemContainer[class$="1"] {
  right: 10%;
  top: 55%;
  animation: flyin1 1s ease-out, move1 10s infinite 1s linear;
}
.itemContainer[class$="2"] {
  left: 10%;
  top: 65%;
  animation: flyin2 2.2s ease-out, move2 10s infinite 2.2s linear;
}
.itemContainer[class$="3"] {
  right: 10%;
  top: 10%;
  animation: flyin3 3s ease-out, move3 10s infinite 3s linear;
}
@keyframes flyin0 {
  from {
    top: -50%;
    left: -10%;
  }
  to {
    top: 15%;
    left: 10%;
  }
}
@keyframes flyin1 {
  from {
    top: 170%;
    left: 190%;
  }
  to {
    top: 55%;
    left: 75%;
  }
}
@keyframes flyin2 {
  from {
    top: 150%;
    right: -30%;
  }
  to {
    top: 65%;
    right: 10%;
  }
}
@keyframes flyin3 {
  from {
    top: -30%;
    right: -90%;
  }
  to {
    top: 10%;
    right: 10%;
  }
}
@keyframes move0 {
  0% {
    transform: translate(0px, px);
  }
  25% {
    transform: translate(3px, 3px);
  }
  50% {
    transform: translate(6px, 0);
  }
  75% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes move1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, 3px);
  }
  50% {
    transform: translate(0, 6px);
  }
  75% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(-6px, 0);
  }
  75% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, -3px);
  }
  50% {
    transform: translate(0, -6px);
  }
  75% {
    transform: translate(-3px, -3px);
  }
  100% {
    transform: translate(0, 0);
  }
}
