.itemImage {
  width: 50px;
  height: 50px;
}
.itemContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: min-content;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 10px;
  transition: left 1s, top 1s;
  animation: fly-in 1s ease-out forwards;
}
.flyin{
  animation: fly-in 1s ease-out forwards;
}
@keyframes fly-in {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
