.heading {
  font-size: 7vw;
  font-weight: 700;
  line-height: 8vw;
}
.leftContainer {
  margin: 4vw;
  margin-left: 10vw;
}
.leftText {
  font-weight: 500;
  margin-top: 2vw;
  font-size: 3vw;
  line-height: 20px;
}
.leftWrite {
  color: #0c8;
}
@media only screen and (max-width: 1159px) {
  .leftContainer {
    margin: 2vw;
  }
}
