.heading {
  color: #000;
  font-size: calc(40px + 3vw);
  font-weight: 700;
}
.leftContainer {
  color: #333;
  margin: 4vw;
  margin-left: 10vw;
}
.leftText {
  font-weight: 500;
  margin-top: 2vw;
  font-size: calc(14px + 1vw);
  line-height: 20px;
}
.leftWrite {
  color: #328168;
}
@media only screen and (max-width: 1159px) {
  .leftContainer {
    margin: 0;
  }
}
