.image {
  overflow: hidden;
  position: relative;
  background: url("../public/images/bg1-overlay.png");
  background-size: cover;
  background-position: 50%;
  width: 100%;
  opacity: 0;
  height: 101vh;
  transition: opacity 1s;
}
.image:hover {
  opacity: 1;
}
