.main {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.mainCard {
  background-color: #fff;
  width: 400px;
  box-shadow: 0px 0px 37px -11px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.active {
  transform: scale(1);
  transition: transform 1s;
}
.textArea {
  margin: 10px;
}
.inactive {
  transform: scale(0.8);
  opacity: 0.7;
}
.inactive:hover {
  cursor: pointer;
}
.cardImage {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.mainCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.heading {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color: #0c8;
}
.title {
  font-size: 48px;
  font-weight: 600;
  color: #0c8;
}
@media only screen and (max-width: 600px) {
  .heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .mainCard {
    background-color: #eee;
  }
}
