.heading {
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
}
.left {
  width: 65%;
}
.right {
  overflow: hidden;
  position: relative;
  background: url("../public/images/bg1.jpg");
  background-size: cover;
  background-position: 50%;
  width: 35%;
  height: 101vh;
}
.main {
  min-height: 101vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: hidden;
  margin: 0;
}
.arrow {
  position: absolute;
  top: 85%;
  left: 35%;
  transform: rotate(-90deg);
  animation: updown 3s linear infinite;
  opacity: 1;
  transition: opacity 0.35s;
}
.hidden {
  opacity: 0;
}
@media only screen and (max-width: 600px) {
  .right {
    width: 100%;
  }
}
@keyframes updown {
  0% {
    top: 83%;
  }
  10% {
    top: 83%;
  }
  50% {
    top: 84%;
  }
  90% {
    top: 83%;
  }
  100% {
    top: 83%;
  }
}
